@import url(reset.css);

h1 {
    font-family: 'Luckiest Guy', 'Open Sans', Arial;
    font-weight: normal;
    font-size: 2rem;
    width: 200px;
}

h2 {
    font-weight: 800;
}

p {
    font-size: 1rem;
}

#section-4 h2 {
    font-family: 'Luckiest Guy', 'Open Sans', Arial;
    font-weight: normal;
    font-size: 2rem;
}

header {
    background-image: url(../images/Header\ Background\ mobile.png);
    background-size: cover;
}

div#header {
    padding: 64px 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

#botoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    height: 54px;
    border: none;
    border-radius: 28px;
    font-family: 'Open Sans', Arial;
    font-size: 1rem;
    color: #23272A;
}

button#open {
    color: white;
    background-color: #23272A;
}

.cinza {
    background-color: #F6F6F6;
}

section div{
    max-width: 1260px;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

section img {
    max-width: 100%;
}

footer {
    height: 140px;
    background-color: #23272A;
    text-align: center;
}

footer img {
    padding-top: 44px;
}

@media screen and (min-width: 768px) {
    header {
        background-image: url(../images/Header\ Background.png);
        height: 459px;
        background-position: center;
    }
    
    div#header {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    #botoes {
        flex-direction: row;
    }

    button {
        padding: 0 24px;
    }

    section img {
        width: 100%;
        max-width: 678px;
        grid-area: img;
        justify-self: end;
        align-self: center;
    }
    
    #section-4 img {
        justify-self: start;
    }

    section div {
        margin: 0 auto;
        display: grid;
        grid-template: 
        "img titulo" auto
        "img texto" 110px
        / 1.5fr 1fr;
        gap: 16px;
    }
    
    section div#section-2 {
        display: grid;
        grid-template: 
        "titulo img" auto
        "texto img" 110px
        /1fr 1.5fr;
        justify-items: end;
    }

    section div#section-4 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    section div#section-4 h2 {
        align-self: center;
        max-width: 100%;
        font-size: 2.5rem;
    }

    section div#section-4 p {
        align-self: center;
        max-width: 100%;
    }

    section div#section-4 img {
        max-width: 1180px;
    }

    section h2 {
        max-width: 330px;
        font-size: 2.5rem;
        align-self: end;
        max-height: 500px;
        grid-area: titulo;
    }
    
    section p {
        max-width: 330px;
        max-height: 110px;
        grid-area: texto;
    }

    h1 {
        font-size: 3.5rem;
        width: 313px;
    }
}